// Configuration Settings
// = = = = = = = = = = = =
// Stewart Hines | 2015

//= = = = Color Pallet = = = = //
// == .A Shades of Gray == //
// - These are notafi's grays
$gray100:#3B465A
$gray94:#465164
$gray83:#5C6576
$gray72:#717988
$gray61:#878E9A
$gray50:#9DA2AC
$gray39:#B3B7BF
$gray28:#C9CCD1
$gray17:#DEE0E3
$gray06:#F4F4F5

// == .B Brand Colors == //

$brandGrayA:#252E3C
$brandGrayB:#1D2533
$brandBase:#57C951
$brandAlt:#4AAA45
$brandDark:#2F6D2C

// == .C State Colors == //
$action:#0f93f5
$danger:#f44336
$success:#46af4a
$warning:#ff9800

// = = = = Spacing = = = = //
// Based on 16px base and 1.5 line-height
// XS: 10px
$spacingXS:0.625rem
// SM: 16px
$spacingSM:1rem
// Base: 24px
$spacingBase:1.5rem
// MD: 48px
$spacingMD:3rem
// LG: 72px
$spacingLG:4.5rem
// XL: 96px
$spacingXL:6rem
// XXL: 120px
$spacingXXL:7.5rem

//= = = = Font Settings = = = = //
$fontSize:14px
$fontFamily: 'Open Sans', 'Helvetica', sans-serif
$fontColor: $gray83
$fontSize:14px
$fontSizeSM:0.75rem
