// Configuration Settings
// = = = = = = = = = = = =
// Stewart Hines | 2015

//= = = = Color Pallet = = = = //
// == .A Shades of Gray == //
//AAA contrast score
$gray100:#000000
$gray94:#0f0f0f
$gray83:#2b2b2b
$gray72:#474747
// AA contrast score
$gray61:#636363
$gray50:#7f7f7f
// Fail contrast score
$gray39:#9c9c9c
$gray28:#b8b8b8
$gray17:#d4d4d4
$gray06:#f0f0f0

// == .B Brand Colors == //
// Mix & Match your brand's colors here.
$brandBase:#e34c30
$brandAlt:$gray94


// == .C State Colors == //
$action:#0f93f5
$danger:#f44336
$success:#46af4a
$warning:#ff9800

// == .D Color Assignments ==//
$borderColor:$gray17
$bodyColor:white

// = = = = Spacing = = = = //
// Based on 16px base and 1.5 line-height
// XS: 10px
$spacingXS:0.625rem
// SM: 16px
$spacingSM:1rem
// Base: 24px
$spacingBase:1.5rem
// MD: 48px
$spacingMD:3rem
// LG: 72px
$spacingLG:4.5rem
// XL: 96px
$spacingXL:6rem
// XXL: 120px
$spacingXXL:7.5rem

$borderRadius:4px

//= = = = Font Settings = = = = //

$fontColor: $gray94
$fontFamily: 'Helvetica Neue', 'Helvetica', 'arial', sans-serif
// Font-Size Default is 16px
$fontSize:14px
// fontSize SM = 12px
$fontSizeSM:0.75rem
// fontSize LG = 18px
$fontSizeLG:1.125rem
$fontWeight:400

// = = = = Screen Settings = = = = //
// == .A Break Points == //
// 1440 - 90rem // 89.9375rem
$bpXL:90rem
// 1280 - 80rem // 79.9375rem
$bpLG:80rem
// 1024 - 64rem // 63.9375rem
$bpBase:64rem
// 768 - 48rem // 47.9375rem
$bpSM:48rem
// 480 - 30rem // 29.9375rem
$bpXS:30rem
// 320 - 20rem // 19.9375rem
$bpXXS:20rem

// == .B Grid Settings == //
$gridMaxWidth:$bpXL
$gridGutters:$spacingBase/2

// = = = = Animations = = = = //
// == .A Animations ==//
$animationTiming:350ms
$animationTransition: ease-in-out
$defaultAnimation:$animationTiming $animationTransition
// == .B Transitions ==//
$transitionTiming:250ms
$transitionTransition: ease-in-out
$defaultTransition: $transitionTiming $transitionTransition
