:root {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "arial", sans-serif;
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  background: white;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: 3.375rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
}

h4,
.h4 {
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 600;
}

p {
  margin: 1.5rem 0;
}

blockquote {
  padding: 1rem;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  border-radius: 4px;
  background: #f0f0f0;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5rem;
}

li {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

hr {
  height: 1px;
  background: #d4d4d4;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-action {
  color: #0f93f5;
}

.text-danger {
  color: #f44336;
}

.text-success {
  color: #46af4a;
}

.text-warning {
  color: #ff9800;
}

.text-muted {
  color: #7f7f7f;
}

ul.no-style,
ol.no-style {
  list-style: none;
  margin-left: 0;
}

.spacing-sm {
  margin-bottom: 1rem !important;
}

.spacing-base {
  margin-bottom: 1.5rem !important;
}

.spacing-md {
  margin-bottom: 3rem !important;
}

.action,
.danger,
.success {
  color: white;
}

.action {
  background-color: #0f93f5;
}

.danger {
  background-color: #f44336;
}

.success {
  background-color: #46af4a;
}

.warning {
  background-color: #ff9800;
}

.muted {
  background-color: #f0f0f0;
}

.grid-align-top {
  align-items: flex-start;
}

.grid-align-bottom {
  align-items: flex-end;
}

.grid-align-center {
  align-items: center;
}

.cell-align-top {
  align-self: flex-start;
}

.cell-align-bottom {
  align-self: flex-end;
}

.cell-align-center {
  align-self: center;
}

.grid-justify-end {
  justify-content: flex-end;
}

.grid-justify-center {
  justify-content: center;
}

.grid-justify-around {
  justify-content: space-around;
}

.grid-justify-between {
  justify-content: space-between;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.grid-cell {
  flex: 1;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-cell .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-third {
  flex: 0 0 33.33333%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-third .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-two-thirds {
  flex: 0 0 66.66667%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-two-thirds .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-fourth {
  flex: 0 0 25%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-fourth .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-three-fourths {
  flex: 0 0 75%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-three-fourths .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-half {
  flex: 0 0 50%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-half .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-full {
  flex: 0 0 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: 0;
}

.grid-full .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

@media screen and (max-width: 30rem) {
  .grid-cell,
  .grid-third,
  .grid-two-thirds,
  .grid-three-fourths,
  .grid-fourth,
  .grid-three-fourths,
  .grid-half,
  .grid-full {
    flex: 0 0 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .grid-cell .demo,
  .grid-third .demo,
  .grid-two-thirds .demo,
  .grid-three-fourths .demo,
  .grid-fourth .demo,
  .grid-three-fourths .demo,
  .grid-half .demo,
  .grid-full .demo {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background: #f0f0f0;
  }
  .grid-full {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 30rem) and (max-width: 48rem) {
  .grid-third,
  .grid-two-thirds,
  .grid-fourth,
  .grid-three-fourths {
    flex: 0 0 50%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .grid-third .demo,
  .grid-two-thirds .demo,
  .grid-fourth .demo,
  .grid-three-fourths .demo {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background: #f0f0f0;
  }
}

.color {
  margin-bottom: 1.5rem;
  padding: 0.625rem;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 0.75rem;
}

.color .color-color {
  width: 100%;
  max-width: 100%;
  min-height: 4.5rem;
  padding: 0.125rem;
  text-align: center;
  border-radius: 4px;
}

.color .color-color span {
  color: white;
  font-size: 10px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.color .color-color.gray100 {
  background: #000000;
}

.color .color-color.gray94 {
  background: #0f0f0f;
}

.color .color-color.gray83 {
  background: #2b2b2b;
}

.color .color-color.gray72 {
  background: #474747;
}

.color .color-color.gray61 {
  background: #636363;
}

.color .color-color.gray50 {
  background: #7f7f7f;
}

.color .color-color.gray39 {
  background: #9c9c9c;
}

.color .color-color.gray28 {
  background: #b8b8b8;
}

.color .color-color.gray17 {
  background: #d4d4d4;
}

.color .color-color.gray06 {
  background: #f0f0f0;
}

.color .color-color.brand-base {
  background: #e34c30;
}

.color .color-color.brand-alt {
  background: #0f0f0f;
}
