.spacing-sm {
  margin-bottom: 1rem !important;
}

.spacing-base {
  margin-bottom: 1.5rem !important;
}

.spacing-md {
  margin-bottom: 3rem !important;
}

.action,
.danger,
.success {
  color: white;
}

.action {
  background-color: #0f93f5;
}

.danger {
  background-color: #f44336;
}

.success {
  background-color: #46af4a;
}

.warning {
  background-color: #ff9800;
}

.muted {
  background-color: #f0f0f0;
}

.grid-align-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.grid-align-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cell-align-top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.cell-align-bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.cell-align-center {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.grid-justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grid-justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-justify-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.grid-justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes btnMouseEnter {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  50% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@keyframes btnMouseEnter {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  50% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@-webkit-keyframes btnMouseLeave {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  50% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

@keyframes btnMouseLeave {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  50% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

:root {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "arial", sans-serif;
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  background: white;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

h1,
.h1 {
  font-size: 3.375rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 600;
}

h3,
.h3,
.nav-brand {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
}

h4,
.h4,
dt {
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 600;
}

p {
  margin: 1.5rem 0;
}

blockquote {
  padding: 1rem;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  border-radius: 4px;
  background: #f0f0f0;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul,
ol {
  padding-left: 1.5rem;
}

ul.no-style,
ol.no-style,
.nav-menu .nav {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5rem;
}

dd {
  margin-bottom: 1rem;
}

hr {
  height: 1px;
  background: #d4d4d4;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.text-action {
  color: #0f93f5;
}

.text-danger {
  color: #f44336;
}

.text-success {
  color: #46af4a;
}

.text-warning {
  color: #ff9800;
}

.text-muted {
  color: #7f7f7f;
}

ul.no-style,
ol.no-style {
  list-style: none;
  margin-left: 0;
}

mark {
  background: #FEEA3A;
  padding: 2px;
  border-radius: 4px;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-cell .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-third {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-third .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-two-thirds {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-two-thirds .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-fourth {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-fourth .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-three-fourths {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-three-fourths .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-half {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.grid-half .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid-full {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-right: 0;
}

.grid-full .demo {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background: #f0f0f0;
}

.grid.offset-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 30rem) {
  .grid-cell,
  .grid-third,
  .grid-two-thirds,
  .grid-three-fourths,
  .grid-fourth,
  .grid-three-fourths,
  .grid-half,
  .grid-full {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .grid-cell .demo,
  .grid-third .demo,
  .grid-two-thirds .demo,
  .grid-three-fourths .demo,
  .grid-fourth .demo,
  .grid-three-fourths .demo,
  .grid-half .demo,
  .grid-full .demo {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background: #f0f0f0;
  }
  .grid-full {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 30rem) and (max-width: 48rem) {
  .grid-third,
  .grid-two-thirds,
  .grid-fourth,
  .grid-three-fourths {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .grid-third .demo,
  .grid-two-thirds .demo,
  .grid-fourth .demo,
  .grid-three-fourths .demo {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    text-align: center;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background: #f0f0f0;
  }
}

.btn {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
  border-color: #0874c4;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #0f93f5;
  cursor: pointer;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  display: inline-block;
  padding: 0.625rem 1.5rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
  border-color: #0874c4;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #0f93f5;
  cursor: pointer;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-animation: btnMouseLeave 350ms ease-in-out;
          animation: btnMouseLeave 350ms ease-in-out;
}

.btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #0874c4;
  border-color: #065793;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
}

.btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #0874c4;
  border-color: #065793;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
}

.btn:hover {
  -webkit-animation: btnMouseEnter 350ms ease-in-out;
          animation: btnMouseEnter 350ms ease-in-out;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.btn.btn-animated {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
  border-color: #0874c4;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #0f93f5;
  cursor: pointer;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-animation: btnMouseLeave 350ms ease-in-out;
          animation: btnMouseLeave 350ms ease-in-out;
}

.btn.btn-animated:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #0874c4;
  border-color: #065793;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
}

.btn.btn-animated:hover {
  -webkit-animation: btnMouseEnter 350ms ease-in-out;
          animation: btnMouseEnter 350ms ease-in-out;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-secondary {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  color: #0f0f0f;
  font-weight: 800;
  text-decoration: none;
  border-color: #d4d4d4;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #f0f0f0;
  cursor: pointer;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.btn-secondary:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #d4d4d4;
  border-color: #bababa;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
}

.btn.btn-brand {
  display: inline-block;
  padding: 0.625rem 1.5rem;
  color: white;
  font-weight: 800;
  text-decoration: none;
  border-color: #c1341a;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #e34c30;
  cursor: pointer;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.btn.btn-brand:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #c1341a;
  border-color: #942814;
  -webkit-transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
          transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
}

.btn.btn-lg {
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
}

section.block {
  display: block;
  width: 100%;
  padding: 4.5rem 0;
  background: white;
}

section.block > header,
section.block > article,
section.block > footer {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

section.block > header {
  margin-bottom: 1.5rem;
}

section.block > header h2 {
  margin-top: 0;
}

section.block > footer {
  margin-top: 1.5rem;
}

section.block.block-divided {
  border-bottom: 1px solid #d4d4d4;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead {
  text-align: left;
  border-bottom: 2px solid #d4d4d4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

table thead tr th:first-child {
  border-left: none;
  border-top-left-radius: 4px;
}

table thead tr th:last-child {
  border-top-right-radius: 4px;
}

table td,
table th {
  padding: 0.625rem;
}

table tr {
  height: 1.5rem;
  border-bottom: 1px solid #d4d4d4;
  background-color: white;
}

table tr:last-child {
  border-bottom: none;
}

table.table-bordered thead {
  border: 1px solid #d4d4d4;
  background-color: #f0f0f0;
}

table.table-bordered thead tr {
  border: none;
  background-color: transparent;
}

table.table-bordered td,
table.table-bordered th {
  border-left: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

table.table-bordered tr {
  border-right: 1px solid #d4d4d4;
}

table.table-stripped tr:nth-child(odd) {
  background-color: #f0f0f0;
}

.global-header {
  position: relative;
  z-index: 1000;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #0f0f0f;
}

.nav-wrap {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.5rem;
}

.nav-brand {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 0;
}

.nav-brand .brand {
  color: white;
  text-decoration: none;
}

.nav-menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

.nav-menu .nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
}

.nav-menu .nav li {
  margin-bottom: 0;
}

.nav-menu .nav a {
  padding: 0.625rem 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 800;
  height: 4.5rem;
}

.color {
  margin-bottom: 1.5rem;
  padding: 0.625rem;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 0.75rem;
}

.color .color-color {
  width: 100%;
  max-width: 100%;
  min-height: 4.5rem;
  padding: 0.125rem;
  text-align: center;
  border-radius: 4px;
}

.color .color-color span {
  color: white;
  font-size: 10px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.color .color-color.gray100 {
  background: #000000;
}

.color .color-color.gray94 {
  background: #0f0f0f;
}

.color .color-color.gray83 {
  background: #2b2b2b;
}

.color .color-color.gray72 {
  background: #474747;
}

.color .color-color.gray61 {
  background: #636363;
}

.color .color-color.gray50 {
  background: #7f7f7f;
}

.color .color-color.gray39 {
  background: #9c9c9c;
}

.color .color-color.gray28 {
  background: #b8b8b8;
}

.color .color-color.gray17 {
  background: #d4d4d4;
}

.color .color-color.gray06 {
  background: #f0f0f0;
}

.color .color-color.brand-base {
  background: #e34c30;
}

.color .color-color.brand-alt {
  background: #0f0f0f;
}

h3.title {
  margin-bottom: 1.5rem;
}

h4.subtitle {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #636363;
  border-bottom: 1px solid #d4d4d4;
}

/*# sourceMappingURL=master.css.map */