// Stew's Flex grid
// = = = = = = = = =
// Stewart Hines | December 2015
// Based on: Solved by FlexBox - https://philipwalton.github.io/solved-by-flexbox/demos/grids/
// Based on: Kraken Framework by Chris Ferdinandi - https://cferdinandi.github.io/kraken/components.html#the-grid
// Configure the grid in config.sass
// Grid parts are in mixins.sass
// = = = = Contents: = = = = //
// 1. Container & Grid Structure
// 2. Grid Cells
// 3. Media Queries
//  3.A Small Screens
//  3.B Medium Screens
// = = = = = = = = = = = = = //
// = = = = 1. Container & Grid Structure = = = = //
.container
  +gridContainer()

.grid
  +grid()

//= = = = 2. Grid Cells = = = = //
.grid-cell
  +gridCell()

.grid-third
  +gridCell(0 0 33.33333%)

.grid-two-thirds
  +gridCell(0 0 66.66667%)

.grid-fourth
  +gridCell(0 0 25%)

.grid-three-fourths
  +gridCell(0 0 75%)

.grid-half
  +gridCell(0 0 50%)

.grid-full
  +gridCell(0 0 100%)
  margin-right:0

// = = = = 3. Grid Offsets = = = = //
.grid.offset-right
  justify-content: flex-end

// = = = = 3. Media Queries = = = = //
// == 3.A Small Screens == //
@media screen and (max-width:$bpXS)
  // TODO: Flesh this out a bit more
  .grid-cell,
  .grid-third,
  .grid-two-thirds,
  .grid-three-fourths,
  .grid-fourth,
  .grid-three-fourths,
  .grid-half,
  .grid-full
    +gridCell(0 0 100%)
    margin-bottom:$gridGutters
  .grid-full
    margin-bottom:0

// == 3.B Medium Screens == //
@media screen and (min-width:$bpXS) and (max-width:$bpSM)
  // TODO: Think this through a little more, fine tune the width values
  .grid-third,
  .grid-two-thirds,
  .grid-fourth,
  .grid-three-fourths
    +gridCell(0 0 50%)
