// Typography
// = = = = = =
// Stewart Hines | 2015



// = = = = Text States = = = = //
// == .A Text Color == //
.text-action,
%textAction
  color:$action

.text-danger,
%textDanger
  color:$danger

.text-success,
%textSuccess
  color:$success

.text-warning,
%textWarning
  color:$warning

.text-muted,
%textMuted
  color:$gray50
